<% include ../partials/header %>
<link rel="stylesheet" href="css/agencias.css">
<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Gerentes</h1>
        <div class="heading__controls">
            <a id="btn_Agregar" class="table-filter__btn" href="#" data-toggle="modal" data-target=".form-agency" id="btn-add-agency">
                Agregar gerente
            </a>
        </div>
        <div id="table"></div>

        <div id="form" class="detalles-container" style="display: none;">
            <div class="detalles-header">
                <div class="detalles-header-box-der">
                    <span id="lb_Guardando" style="display: none"></span>
                    <button id="btn_Guardar" class="btn btn-primary">Guardar</button>
                    <button id="btn_Cancelar" class="btn btn-danger">Cancelar</button>
                </div>
                <div class="detalles-header-box izq">
                    <h2 id="tituloForm">Modificar Gerente</h2>
                </div>
            </div>
            <div class="detalles-body">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Usuario</span>
                            </div>
                            <input type="text" class="form-control" id="tb_username" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Contraseña</span>
                            </div>
                            <input type="password" class="form-control" id="tb_password" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Nombre</span>
                          </div>
                          <input type="text" class="form-control" id="tb_nombre" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Ap. Paterno</span>
                          </div>
                          <input type="text" class="form-control" id="tb_apellidoP" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Ap. Materno</span>
                            </div>
                            <input type="text" class="form-control" id="tb_apellidoM" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Teléfono</span>
                            </div>
                            <input type="text" class="form-control" id="tb_telefono" autocomplete="off">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Correo</span>
                            </div>
                            <input type="text" class="form-control" id="tb_correo" autocomplete="off">
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Estado</span>
                            </div>
                            <select id="cb_estado" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Código Postal</span>
                            </div>
                            <input type="text" class="form-control" id="tb_cp" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Ciudad</span>
                            </div>
                            <input type="text" class="form-control" id="tb_ciudad" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Domicilio</span>
                            </div>
                            <input type="text" class="form-control" id="tb_domicilio" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Agencia</span>
                            </div>
                            <select id="cb_agencia" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group px-2 my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rol</span>
                            </div>
                            <select id="cb_rol" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade delete-element" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-form modal-content modal-form--text-centered">
              <p class="modal-form__delete-title">¿Seguro que desea eliminar este elemento?</p>
              <div class="modal-form__footer modal-form__footer--centered">
                  <div class="modal-form__btn-group modal-form__btn-group--centered">
                      <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">No</a>
                      <a href="#" id="btn-remove" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
<script src="/js/tablas.js"></script>
<script src="/js/ajax/admin/manager2.js"></script>

<% include ../partials/footer %>
<script src="/js/Script.js"></script>
<script src="/js/sessionControl.js"></script>
