<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Modelos</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
                <div class="table-filter__item">
                    <p class="table-filter__title">Categoría</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-category">
                        <option value="All">Todas</option>    
                        <option value="Sports">Sports</option>
                        <option value="PickUp">Pick Up</option>
                        <option value="SUVS">SUVS</option>
                        <option value="Auto">Auto</option>
                    </select>
                </div>
            </div>
            <a class="table-filter__btn" href="#" data-toggle="modal" data-target=".add-model" id="add-model-btn">
                Agregar Modelo
            </a>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th">
                    <th class="table__th table__th--is-active">MODELO <span class=""></span></th>
                    <th class="table__th">AÑO <span class=""></span></th>
                    <th class="table__th">VARIANTES <span class=""></span></th>
                    <th class="table__th">CATEGORIA <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body" id="table-models">
            </tbody>
        </table>
    </div>

    <!--Add vehicle-->
    <div class="modal--fade modal fade add-model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-vehicle">
        <div class="modal-dialog modal--form-size">
            <div class="modal-form modal-content">
                <div class="modal-form__header">
                    <h2 class="modal-form__title">Agregar modal-form__delete-description</h2>
                    <i class="modal-form__exit fas fa-times" id="modal-exit" data-dismiss="modal" aria-label="Close"></i>
                </div>
                    <form action="" id="add-model-form">
                        <div class="modal-form__body">
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Nombre</label>
                                <input type="text" class="modal-form__input" name="nombre">
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Categoría</label>
                                <select class="modal-form__input" name="categoria" id="">
                                        <option value="Sports">Sports</option>
                                        <option value="Auto">Auto</option>
                                        <option value="PickUp">Pick Up</option>
                                        <option value="SUV">SUV</option>
                                </select>								  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Año</label>
                                <input type="text" class="modal-form__input" name="anio">							  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Dimensiones</p>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Alto</label>
                                <input type="text" class="modal-form__input" name="dimensiones[alto]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Largo</label>
                                <input type="text" class="modal-form__input" name="dimensiones[largo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Ancho</label>
                                <input type="text" class="modal-form__input" name="dimensiones[ancho]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Descripción</label>				
                                <textarea class="modal-form__input modal-form__input--textarea" name="descripcion" id="" cols="30" rows="10"></textarea>			  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Colores</p>
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Exterior</label>
                            </div>
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Interior</label>						  
                            </div>						
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Código</label>
                                <input type="text" class="modal-form__input" name="colores[interior][0][codigo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Nombre</label>
                                <input type="text" class="modal-form__input" name="colores[interior][0][nombre]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Código</label>
                                <input type="text" class="modal-form__input" name="colores[exterior][0][codigo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Nombre</label>
                                <input type="text" class="modal-form__input" name="colores[exterior][0][nombre]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[interior][1][codigo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[interior][1][nombre]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[exterior][1][codigo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[exterior][1][nombre]">							  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Imágenes</p>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Banner</label>
                                <input type="text" class="modal-form__input" name="photos[bannerImageURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Imágenes</label>
                                <input type="text" class="modal-form__input" name="photos[imagesURL][0]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL][1]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL][2]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL][3]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL][4]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL][5]" placeholder="Link">							  
                            </div>
                    </form>
                </div>
                <div class="modal-form__footer">
                    <div class="modal-form__btn-group">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a id="add-model-submit" href="#" class="modal-form__btn modal-form__btn--confirmar" data-dismiss="modal" aria-label="Close">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Edit vehicle-->
    <div class="modal--fade modal fade edit-model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="edit-vehicle">
        <div class="modal-dialog modal--form-size">
            <div class="modal-form modal-content">
                <div class="modal-form__header">
                    <h2 class="modal-form__title">Editar Vehiculo</h2>
                    <i class="modal-form__exit fas fa-times" id="modal-exit" data-dismiss="modal" aria-label="Close"></i>
                </div>
                    <form action="" id="edit-model-form">
                        <div class="modal-form__body">
                            <div class="modal-form__group modal-form__group--small">
                                <label for="" class="modal-form__label">Nombre</label>
                                <input type="text" class="modal-form__input" name="nombre">
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Categoría</label>
                                <select class="modal-form__input" name="category" id="">
                                    <option value="Servicio">Servicio</option>
                                    <option value="Auto">Auto</option>
                                    <option value="Pick Up">PickUp</option>
                                    <option value="SUV">SUV</option>
                                </select>								  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Año</label>
                                <input type="text" class="modal-form__input" name="anio">							  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Dimensions - Enter in mm</p>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Alto</label>
                                <input type="text" class="modal-form__input" name="dimensiones[alto]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Largo</label>
                                <input type="text" class="modal-form__input" name="dimensiones[largo]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--extra-small">
                                <label for="" class="modal-form__label">Ancho</label>
                                <input type="text" class="modal-form__input" name="dimensiones[ancho]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Descripcion</label>				
                                <textarea class="modal-form__input modal-form__input--textarea" name="descripcion" id="" cols="30" rows="10"></textarea>			  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Colores</p>
                            <div class="modal-form__group modal-form__group--minium">
                                <label for="" class="modal-form__label">Codigo</label>
                                <input type="text" class="modal-form__input" name="colores[0]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[1]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[2]">							  
                            </div>
                            <div class="modal-form__group modal-form__group--minium">
                                <input type="text" class="modal-form__input" name="colores[3]">							  
                            </div>
                            <p class="modal-form__label modal-form__label--title">Imágenes</p>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Banner</label>
                                <input type="text" class="modal-form__input" name="photos[bannerImageURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <label for="" class="modal-form__label">Imágenes</label>
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>
                            <div class="modal-form__group modal-form__group--large">
                                <input type="text" class="modal-form__input" name="photos[imagesURL]" placeholder="Link">							  
                            </div>     
                    </form>
                </div>
                <div class="modal-form__footer">
                    <div class="modal-form__btn-group">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a id="edit-model-submit" href="#" class="modal-form__btn modal-form__btn--confirmar" data-dismiss="modal" aria-label="Close">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add version-->
    <div class="modal--fade modal fade add-version" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-stock">
    <div class="modal-dialog modal--form-size">
        <div class="modal-form modal-content">
            <div class="modal-form__header">
                <h2 class="modal-form__title">Agregar versión</h2>
                <i class="modal-form__exit fas fa-times" id="modal-exit" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <form action="" id="add-version-form">
                <div class="modal-form__body">
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Nombre</label>
                        <input type="text" class="modal-form__input" name="variante">
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Precio</label>
                        <input type="text" class="modal-form__input" name="precio">								  
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Rendimiento</label>
                        <input type="text" class="modal-form__input" name="caracteristicas[rendimiento]">							  
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Potencia</label>
                        <input type="text" class="modal-form__input" name="caracteristicas[potencia]">							  
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Torque</label>
                        <input type="text" class="modal-form__input" name="caracteriticas[torque]">							  
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Transmisión</label>
                        <input type="text" class="modal-form__input" name="caracteristicas[transmision]">							  
                    </div>
                    <div class="modal-form__group modal-form__group--small">
                        <label for="" class="modal-form__label">Tracción</label>
                        <input type="text" class="modal-form__input" name="caracteristicas[traccion]">							  
                    </div>                     
                </div>
            </form>
            <div class="modal-form__footer">
                <div class="modal-form__btn-group">
                    <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                    <a id="add-version-submit" href="#" class="modal-form__btn modal-form__btn--confirmar" data-dismiss="modal" aria-label="Close">Confirmar</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="modal--fade modal fade save-changes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-form modal-content modal-form--text-centered">
              <p class="modal-form__delete-title">¿Seguro que desea guardar los cambios?</p>
              <p class="modal-form__delete-description">Este elemento presenta cambios</p>
              <div class="modal-form__footer modal-form__footer--centered">
                  <div class="modal-form__btn-group modal-form__btn-group--centered">
                      <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">No</a>
                      <a href="#" class="modal-form__btn modal-form__btn--confirmar" data-dismiss="modal" aria-label="Close">Sí</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="modal--fade modal fade delete-element" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-form modal-content modal-form--text-centered">
              <p class="modal-form__delete-title">¿Seguro que desea eliminar este elemento?</p>
              <div class="modal-form__footer modal-form__footer--centered">
                  <div class="modal-form__btn-group modal-form__btn-group--centered">
                      <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">No</a>
                      <a href="#" class="modal-form__btn modal-form__btn--confirmar" data-dismiss="modal" aria-label="Close">Sí</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

</section>

<% include ../partials/footer %>
<script src="/js/ajax/admin/model.js"></script>
<script src="/js/Script.js"></script>
<script src="/js/sessionControl.js"></script>
</body>
</html>