<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Envíos</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
            </div>
            <a class="table-filter__btn" href="#" data-toggle="modal" data-target=".add-shipping">
                Agregar envío
            </a>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th">
                    <th class="table__th">MODELO <span class=""></span></th>
                    <th class="table__th">NUMERO DE SERIE <span class=""></span></th>
                    <th class="table__th">AGENCIA ORIGEN <span class=""></span></th>
                    <th class="table__th">ESTADO <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".pedir-vehiculo">Pedir vehículo</a>                              
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".aceptar-vehiculo">Responder solicitud</a>
                          </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!--Pedir vehículos-->
    <div class="modal--fade modal fade pedir-vehiculo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="pedir-vehiculo">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Desea solicitar este vehículo?</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">Sí</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Aprobar envío de vehículos-->
    <div class="modal--fade modal fade aceptar-vehiculo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="aceptar-vehiculo">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Desea autorizar el envio de este vehículo?</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">Sí</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade save-changes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-form modal-content modal-form--text-centered">
              <p class="modal-form__delete-title">¿Seguro que desea guardar los cambios?</p>
              <p class="modal-form__delete-description">Este elemento presenta cambios</p>
              <div class="modal-form__footer modal-form__footer--centered">
                  <div class="modal-form__btn-group modal-form__btn-group--centered">
                      <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">Sí</a>
                      <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="modal--fade modal fade delete-element" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-form modal-content modal-form--text-centered">
              <p class="modal-form__delete-title">¿Seguro que desea eliminar este elemento?</p>
              <div class="modal-form__footer modal-form__footer--centered">
                  <div class="modal-form__btn-group modal-form__btn-group--centered">
                      <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">No</a>
                      <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

</section>

<% include ../partials/footer %>
<script src="/js/ajax/manager/shippings.js"></script>
<script src="/js/Script.js"></script>
<script src="/js/sessionControl.js"></script>

</body>
</html>