<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Ventas</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
                <div class="table-filter__item">
                    <p class="table-filter__title">Modelo</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Sucursal</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Municipio</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
            </div>
            <a class="table-filter__btn" href="#" data-toggle="modal" data-target=".add-shipping">
                Generar reporte
            </a>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th">
                    <th class="table__th">MODELO <span class=""></span></th>
                    <th class="table__th">NUMERO DE SERIE <span class=""></span></th>
                    <th class="table__th">CLIENTE <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row-td">
                    <td class="table__td">Altima modelo 231</td>
                    <td class="table__td">12321312</td>
                    <td class="table__td">Juanito</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<% include ../partials/footer %>
<script src="/js/ajax/manager/sales.js"></script>
<script src="/js/Script.js"></script>
<script src="/js/sessionControl.js"></script>

</body>
</html>