<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Ventas</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
                <div class="table-filter__item">
                    <p class="table-filter__title">Modelo</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Sucursal</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Municipio</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="">
                            <option value="">Selecciona uno</option>
                    </select>
                </div>
            </div>
            <a class="table-filter__btn" href="#" data-toggle="modal" data-target=".add-shipping">
                Generar reporte
            </a>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th">
                    <th class="table__th">MODELO <span class=""></span></th>
                    <th class="table__th">NUMERO DE SERIE <span class=""></span></th>
                    <th class="table__th">CLIENTE <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>				
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr class="table__row-td">
                    <td class="table__td">Altima</td>
                    <td class="table__td">Rancaguama</td>
                    <td class="table__td">Pending</td>
                    <td class="table__controls">
                        <img class="table__edit" src="" alt="">
                        <img class="table__delete" src="" alt="">
                        <div class="table__dropdown dropdown dropleft">
                          <a class="table__dropdown-button" id="data1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                          </a>
                          <div class="table__dropdown-menu dropdown-menu" aria-labelledby="data1">
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".edit-shipping">Edit</a>
                            <a class="table__dropdown-item dropdown-item" href="#" data-toggle="modal" data-target=".delete-element">Delete</a>
                          </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<% include ../partials/footer %>
<script src="/js/ajax/manager/sales.js"></script>
<script src="/js/Script.js"></script>
<script src="/js/sessionControl.js"></script>

</body>
</html>