<% include ../partials/header %>

<section class="main">
    <div class="heading container">
        <h1 class="heading__title">Stock</h1>
        <div class="heading__controls">
            <div class="table-filter__group">
                <div class="table-filter__item">
                    <p class="table-filter__title">Categoria</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-location">
                        <option value="Local">Local</option>
                        <option value="Global">Global</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Modelo</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-model">
                        <option value="">Villa de Álvarez</option>
                    </select>
                </div>
                <div class="table-filter__item">
                    <p class="table-filter__title">Version</p>
                    <select class="modal-form__input modal-form__input--select" name="" id="filter-version">
                        <option value="">Villa de Álvarez</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table__head">
                <tr class="table__row-th" id="table-criteria">
                    <th class="table__th table__th--is-active">MODELO <span class=""></span></th>
                    <th class="table__th">NUMERO DE SERIE <span class=""></span></th>
                    <th class="table__th">CATEGORIA <span class=""></span></th>
                </tr>
            </thead>
            <tbody class="table__body" id="table-vehicles">
                <tr class='table__row-td'>
                    <td class='table__td'> vehicle.model.name </td>
                    <td class='table__td'> vehicle.serieNumber </td>
                    <td class='table__td'> vehicle.model.status </td>
                    <td class='table__td'><a class='table__dropdown-item dropdown-item' href='#' data-toggle='modal' data-target='.vender-vehiculo'>Vender</a></td>
                </tr>
            </tbody>
        </table>
    </div>

     <!--Vender vehiculo-->
     <div class="modal--fade modal fade vender-vehiculo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-stock">
        <div class="modal-dialog modal--form-size">
            <div class="modal-form modal-content">
                <div class="modal-form__header">
                    <h2 class="modal-form__title">Vender vehiculo</h2>
                    <i class="modal-form__exit fas fa-times" id="modal-exit" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <form action="" id="add-model-form">
                    <div class="modal-form__body">
                        <div class="modal-form__group modal-form__group--small">
                            <label for="" class="modal-form__label">Id de Cliente</label>
                            <input type="text" name="cliente" id="cliente">
                        </div>                  
                    </div>
                </form>
                <div class="modal-form__footer">
                    <div class="modal-form__btn-group">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a id="add-stock-submit" href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade save-changes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Seguro que desea guardar los cambios?</p>
                <p class="modal-form__delete-description">Este elemento presenta cambios</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".edit-branch">No</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal--fade modal fade delete-element" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="add-branch">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-form modal-content modal-form--text-centered">
                <p class="modal-form__delete-title">¿Seguro que desea eliminar este elemento?</p>
                <div class="modal-form__footer modal-form__footer--centered">
                    <div class="modal-form__btn-group modal-form__btn-group--centered">
                        <a href="#" class="modal-form__btn modal-form__btn--cancel" data-dismiss="modal" aria-label="Close">No</a>
                        <a href="#" class="modal-form__btn modal-form__btn--confirm" data-dismiss="modal" aria-label="Close">Sí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<% include ../partials/footer %>

<script src="/js/ajax/salesman/stock.js"></script>
<script src="/js/Script.js"></script>
</body>
</html>